<div class="row">
  <div class="col-sm-5 leftColumn">
    <h2>{{article.headline}} </h2>
    <p>
      {{article.author}}
    </p>
  </div>
  <div class="col-sm-5 rightColumn">
    <img src={{article.image}} alt={{article.headline}}/>
  </div>
</div>

<div class="row">
  <p>
    {{article.content}}
  </p>
</div>
