{{currentArticle.headline}}{{currentArticle.author}}
  {{#link-to 'article'}}
  <p>
    <img src={{currentArticle.image}} alt={{currentArticle.headline}} />
  </p>
  {{/link-to}}
  <button {{action 'delete' currentArticle}}>Delete</button>
